table.issue {
  table-layout: fixed;
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  border-spacing: 0px;
}

table.issue, table.issue td, table.issue th {
  border: 1px solid black;
  padding: 5px;
}

table.issue .timestamp {
  width: 200px;
}

table.issue .type {
  width: 100px;
}

table.issue .message {
  width: 100%;
}

table.issue .message .output {
  margin: 0px;
  overflow-x: auto;
  width: 100%;
}
