body {
  font-family: Arial, sans-serif;
  padding: 0px;
}

h1 {
  font-size: 14pt;
  font-style: italic;
  margin: 0px;
  padding: 5px;
}
h2 {
  font-weight: bold;
  font-size: 14pt;
  margin: 0px;
  padding: 5px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  padding: 5px;
}
table {
  border-spacing: 0px;
}
th {
  background-color: #AAA;
  color: white;
  padding: 5px;
  width: 100px;
  font-size: 9pt;
}

div.error {
  background-color: #fcc;
  width: 80%;
  padding: 7px;
  border: 2px solid red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.closed {
  background-color: #E98080;
}

.maintenance {
  background-color: #FF80FF;
}

.open {
  background-color: #8FDF5F;
}

.throttled {
  background-color: #FFFC6C;
}
