/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#page {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: -webkit-linear-gradient(top, #dadada, white);
  display: -webkit-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

#logo-container {
  text-align: center;
}

#logo {
  width: 150px;
}

#demo-login-text {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  padding-top: 80px;
}
