/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the stylesheet used by the Out of the box experience (OOBE) flow.
 */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #F1F1F1;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

button {
  font-family: inherit;
}

#outer-container {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 40px;  /* Leave space for the header bar */
}

#oobe {
  margin-bottom: 60px;  /* Compensate top header to center content. */
}

#inner-container {
  height: 294px;
  padding: 20px;
  position: relative;
  width: 640px;
}

#security-info a,
#eula a {
  color: #006668;
  text-decoration: none;
}

#eula #stats-help-link {
  color: #316ac5;
}

hr.shadow {
  -webkit-mask: -webkit-linear-gradient(left, rgba(0,0,0,0),
                                        black 50%, rgba(0,0,0,0));
  border: none;
  opacity: 0.3
}

hr.top {
  background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0));
  border-top: 1px solid rgba(0,0,0,0.5);
  height: 4px;
}

hr.bottom {
  background: -webkit-linear-gradient(bottom,
                                      rgba(0,0,0,0.2), rgba(0,0,0,0.0));
  border-bottom: 1px solid rgba(0,0,0,0.5);
  height: 4px;
  z-index: 0;
}

#header {
  -webkit-padding-start: 34px;
  background-image: url('chrome://theme/IDR_PRODUCT_LOGO_32');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 32px;
  color: #666;
  display: -webkit-box;
  font-size: 23px;
  height: 47px;
  line-height: 45px;
  padding-top: 1px;
}

#header span {
  text-transform: lowercase;
}

#header span,
#user-image-screen-curtain p,
.label,
.menu-control {
  cursor: default;
}

#header-sections {
  display: inline-block;
  height: 30px;
  position: relative;
}

.header-section:before {
  /* Divider in header between product name and title,
     like "[Product name] > [step header]"  */
  content: "\00A0\203A\00A0\00A0";
}

.header-section {
  -webkit-transition: left 200ms, opacity 200ms ease-in-out;
  position: absolute;
  text-transform: lowercase;
  width: 20em;
}

html[dir=rtl] .header-section {
  -webkit-transition: right 200ms, opacity 200ms ease-in-out;
}

.header-section.right {
  left: 50px;
}

.header-section.left {
  left: -20px;
}

html[dir=rtl]  .header-section.right {
  right: 50px;
}

html[dir=rtl]  .header-section.left {
  right: -20px;
}

.step {
  min-height: 294px;
  opacity: 1;
  position: absolute;
  width: 640px;
}

html[dir=ltr] .step {
  -webkit-transition: left 200ms, opacity 200ms, visibility 200ms ease-in-out;
  left: 0;
}

html[dir=rtl] .step {
  -webkit-transition: right 200ms, opacity 200ms, visibility 200ms ease-in-out;
  right: 0;
}

.step.right {
  left: 100px;
}

.step.left {
  left: -50px;
}

html[dir=rtl]  .step.right {
  right: 100px;
}

html[dir=rtl]  .step.left {
  right: -50px;
}

.step.hidden {
  visibility: hidden;
}

.faded,
.left,
.right {
  opacity: 0;
}

#footer {
  -webkit-box-align: center;
  display: -webkit-box;
}

#progress {
  -webkit-box-align: center;
  display: -webkit-box;
}

.progdot {
  -webkit-margin-end: 12px;
  background: black;
  border-radius: 2px;
  height: 8px;
  opacity: 0.1;
  width: 8px;
}

.progdot-active {
  opacity: 0.5;
}

.control-with-label {
  margin: 10px 0 10px 0;
  display: -webkit-box;
  -webkit-box-align: start;
}

.menu-area {
  margin: 5px 5px 5px 5px;
}

.menu-control {
  font-family: inherit;
  line-height: 20px;
  position: relative;
  width: 250px;
}

.label {
  display: block;
  margin: 5px 5px 5px 0;
  padding: 5px 5px 5px 0;
  width: 170px;
}

#connect {
  box-sizing: border-box;
  padding: 60px 0 0 145px;
}

#logging {
  clear: both;
  font-size: small;
  margin-top: 20px;
  width: 500px;
}

#logging div {
  display: table-cell;
  vertical-align: middle;
}

#usage-stats {
  -webkit-margin-end: 10px;
}

#user-image {
  margin: 0 20px;
}

#user-image-grid {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  width: 400px;
}

#user-image-grid img {
  background-color: white;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}

#user-image-grid [role=listitem] {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin: 4px;
  padding: 3px;
}

#user-image-grid [selected] {
  border: 2px solid rgb(0, 102, 204);
  padding: 2px;
}

#profile-image {
  position: relative;
}

/* White background for spinner styled like user image */
#profile-image .spinner-bg {
  background-color: white;
  height: 50px;
  left: 3px;
  position: absolute;
  top: 3px;
  visibility: hidden;
  width: 50px;
}

.profile-image-loading #profile-image .spinner-bg {
  visibility: visible;
}

#profile-image .spinner {
  position: absolute;
  left: 14px;
  top: 14px;
}

#user-image-preview {
  border-radius: 4px;
  float: right;
  margin: 4px;
  max-width: 220px;
}

html[dir=rtl] #user-image-preview {
  float: left;
}

#user-image-preview-img {
  max-height: 220px;
  max-width: 220px;
}

.default-image #user-image-preview-img {
  border: solid 1px #cacaca;
  background: white;
}

#user-image-preview-caption {
  color: dimGray;
  font-size: smaller;
  margin: 8px 4px;
}

#footer {
  height: 28px;  /* Same as button height */
}

#footer button {
  display: none;
  height: 28px;
}

#button-strip {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
  display: -webkit-box;
}

#oobe.connect #continue-button,
#oobe.eula #back-button,
#oobe.eula #accept-button,
#oobe.signin #signin-button,
#oobe.user-image #ok-button,
#oobe.oauth-enrollment #oauth-enroll-cancel-button,
#oobe.oauth-enrollment #oauth-enroll-try-again-button,
#oobe.oauth-enrollment #oauth-enroll-explain-button,
#oobe.oauth-enrollment #oauth-enroll-done-button {
  display: block;
}

#oobe.connect #connect-dot,
#oobe.eula #eula-dot,
#oobe.signin #signin-dot,
#oobe.gaia-signin #gaia-signin-dot,
#oobe.enrollment #signin-dot,
#oobe.enrollment #gaia-signin-dot,
#oobe.oauth-enrollment #signin-dot,
#oobe.oauth-enrollment #gaia-signin-dot,
#oobe.user-image #user-image-dot {
  opacity: 0.4;
}

#account-picker-dot,
#enrollment-dot,
#oauth-enrollment-dot,
#update-dot {
  display: none;
}

#connect table {
  margin: 7em auto;
}

#security-info {
  bottom: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

#security-info a {
  color: #8c8c8c;
  font-size: 13px;
}

#oobe.eula + #security-info {
  visibility: visible;
}

#update div {
  margin: 6em auto;
  width: 32em;
}

#update #update-cancel-hint {
  color: #a00;
  left: 50%;
  margin: 1em -16em;
  position: absolute;
}

#update progress {
  margin: 13px 0;
  width: 380px;
}

button {
  min-width: 80px;
}

.eula-columns {
  display: -webkit-box;
  width: 630px;
}

.eula-frame {
  border: none;
  height: 200px;
  padding: 0 0 0 5px;
  width: 313px;
}

#cros-eula,
#oem-eula {
  border: 1px solid #d9d9d9;
  height: 200px
}

#oem-eula {
  border-left: none;
}

#eulas.one-column #cros-eula {
  width: 100%;
}

#eulas.one-column #cros-eula-frame {
  width: 100%;
}

#eulas.one-column #oem-eula {
  display: none;
}

#security-info-popup {
  -webkit-box-shadow: 0 5px 80px #505050;
  background: white;
  border-radius: 2px;
  border: 1px solid rgb(188, 193, 208);
  min-height: 250px;
  position: relative;
  width: 460px;
  z-index: 10;
}

#security-info-popup h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  background: -webkit-linear-gradient(white, #F8F8F8);
  color: #53637d;
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 8px 15px;
  text-shadow: white 0 1px 2px;
}

.popup-content-area {
  padding: 0 20px 60px 20px;
}

#security-info-popup button {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

#tpm-busy {
  text-align: center;
}

#tpm-password {
  font-weight: bold;
  text-align: center;
}

[hidden] {
  display: none !important;
}

#popup-overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: 250ms opacity;
  background: rgba(255, 255, 255, .75);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding-bottom: 130px;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

#enroll-login-screen {
  display: -webkit-box;
  width: 630px;
}

#enroll-login-info {
  width: 310px;
}

.enroll-login-item {
  font-size: 0.9em;
  margin: 16px 8px;
}

.enroll-login-item-content {
  -webkit-margin-start: 52px;
}

.enroll-login-item-header {
  font-weight: bold;
  margin: 0 8px 0 0;
}

.enroll-login-item-image {
  position: absolute;
}

#enroll-login-form {
  height: 100%;
  width: 310px;
}

#gaia-local-login {
  border: none;
  height: 100%;
  vertical-align: top;
  width: 100%;
}

#enroll-confirmation-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#enroll-confirmation-content {
  height: 1.5em;
  margin-top: -.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#enroll-confirmation-image {
  vertical-align: middle;
}

#enroll-confirmation-footer {
  bottom: 0;
  text-align: end;
  width: 100%;
}

/* Styling for OAuth enrollment screen. */

#oauth-enroll-container {
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#oauth-enroll-signin-frame {
  border: 0 none;
  height: 100%;
  width: 100%;
}

#oauth-enroll-signin-frame-container {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 20px;
  width: 100%;
}

#oauth-enroll-signin-link-container {
  bottom: 0;
  position: absolute;
  right: 0;
}

#oauth-enroll-step-signin {
  width: 100%;
}

.oauth-enroll-step-center {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.oauth-enroll-step-content {
  display: table-cell;
  vertical-align: middle;
}

.oauth-enroll-step-icon {
  display: inline-block;
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

.oauth-enroll-step-icon > * {
  -webkit-margin-end: .4em;
  display: inline-block;
  height: 22px;
  position: relative;
  top: -11px;
  width: 22px;
}

.oauth-enroll-step-message {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
}

#oauth-enroll-explain-message {
  white-space: pre-line;
}

.oauth-enroll-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

#close-button.visible {
  display: inline-block;
}

#bubble {
  -webkit-transition: 250ms opacity;
}

html[dir=rtl] #header {
  background-position: right center;
}

body.login-display #oobe hr.shadow {
  -webkit-transition: all 800ms ease;
  width: 1100px;  /* Necessary. Otherwise hr shrinks to 0 first when switching
                     from 640px to full width. */
}

body.login-display #oobe.signin hr,
body.login-display #oobe.gaia-signin hr {
  opacity: 0;
}

body.login-display #inner-container {
  height: 262px;
  padding: 0;
  width: 1100px;
}

body.login-display .step {
  left: 230px;  /* (1100px - 640px) / 2, make it center in oobe div */
}

body.login-display #header {
  visibility: hidden;
}

body.login-display #footer {
  margin-left: auto;
  margin-right: auto;
  width: 640px;  /* Same width as .step screens */
}

body.login-display #progress {
  visibility: hidden;
}

span.bold {
  font-weight: bold;
}

.error-message {
  -webkit-padding-start: 30px;
  background-image: url('chrome://theme/IDR_WARNING');
  background-position: left top;
  background-repeat: no-repeat;
}

.error-message-padding {
  margin-bottom: 10px;
}

html[dir=rtl] .error-message {
  background-position: right top;
}

#version-labels {
  -webkit-transition: all 500ms linear;
  bottom: 10px;
  color: #999;
  font-size: 11px;
  left: 10px;
  opacity: 1.0;
  position: absolute;
  right: 10px;
  text-shadow: 0 1px 1px #fff;
}

#offline-network-control {
  margin-left: 60px;
}

#notification-area {
  color: #666;
  height: 0;
  margin: 8px auto;
  max-width: 850px;
  text-align: center;
}

#notification-area a {
  color: rgb(37, 79, 155);
}
