/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #222;
  font-size: 13px;
  margin: 0;
  padding: 20px;
  direction: __MSG_@@bidi_dir__;
}

a {
  text-decoration: none;
  color: #15c;
  cursor: pointer;
}

a:visited {
  color: #61c;
}

a:active {
  color: #d14836;
}

strong, b {
  color: #000;
}


/*------------------------------------------------------------------
Component: Buttons
------------------------------------------------------------------*/
button {
  min-width: 72px;
  border:1px solid #DCDCDC;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius:2px;
  -webkit-transition: all 0.218s;
  background-image: -webkit-gradient(linear, left top, left bottom,
                                     from(#f5f5f5), to(#f1f1f1));
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

button:hover:not([disabled]) {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom,
                                     from(#f8f8f8), to(#f1f1f1));
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

/* Colored Buttons */
.kd-button-share {
  border: 1px solid #29691d;
  color: #FFF;
  text-shadow: 0px 1px rgba(0,0,0,0.1);
  background-image: -webkit-gradient(linear, left top, left bottom,
                                     from(#3d9400), to(#398a00));
}

.kd-button-share:hover:not([disabled]) {
  border: 1px solid #404040;
  color: #FFF;
  text-shadow: 0px 1px rgba(0,0,0,0.3);
  border-color: #2D6200;
  background-image: -webkit-gradient(linear, left top, left bottom,
                                     from(#3d9400), to(#368200));
}

.kd-button-share:focus {
  border-color:#404040;
  -webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
}

.kd-button-share:focus:hover {
  -webkit-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
}

.kd-button-share:active, .kd-button-share:focus:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

/*------------------------------------------------------------------
Component: Text Field
------------------------------------------------------------------*/
input[type=text] {
    height: 29px;
    line-height: 27px;
    padding-left: 8px;
    color: #333;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    vertical-align: top;
    -webkit-border-radius: 1px;
}
input[type=text]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
input[type=text]:focus {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #4d90fe;
}

/*------------------------------------------------------------------
Component: Modal Dialog
------------------------------------------------------------------*/
.kd-modaldialog:not([hidden]) {
  opacity: 1.0;
  -webkit-transform: scale(1.0);
}

.kd-modaldialog {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  background: white;
  outline:1px solid rgba(0,0,0,0.2);
  padding:30px 42px;
  width: 500px;
  height: auto;
  overflow: hidden;
  z-index: 100;
  opacity: 0.0;
  -webkit-transform: scale(1.05);
  -webkit-transition: all 0.218s;
}

button:active {
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

button[disabled], button[disabled]:hover, button[disabled]:active {
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
  -webkit-box-shadow: none;
}

h1.icon-label {
  vertical-align: 14px;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 300;
  color: #aaa;
  font-family: "Open sans", "Ariel", sans-serif;
  line-height: 24px;
}

h2 {
  font-size: 16px;
  line-height:24px;
  font-weight: normal;
  color: #222;
}

section > h2 {
  color: #666;
}

header {
  display: -webkit-box;
  width: 100%;
}

html {
  -webkit-user-select: none;
  cursor: default;
}

label {
  color: black;
  font-weight: bold;
}

section {
  width: 690px;
  margin: 30px auto;
  border: 1px solid #e5e5e5;
  background: #f9f9f9;
  padding: 20px 30px 20px 30px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.07);
}


.access-code-digit-group {
  /*
    Used for each of the four-digit components of the access code as
    displayed by the host.
  */
  padding: 0px 6px;
}

.box-spacer {
  -webkit-box-flex: 1;
}

.centered {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.selectable {
  -webkit-user-select: text;
  cursor: text;
}

.section-row {
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 10px 0;
  border-top: 1px solid #EBEBEB;
}

.section-row:first-child {
  border-top: none;
}

.error-state {
  background-image: url('icon_warning.png');
  background-repeat: no-repeat;
  background-position: top __MSG_@@bidi_start_edge__;
  padding-__MSG_@@bidi_start_edge__: 30px;
  padding-top: 5px;
  color: #900;
}

.expiring {
    color: #900 !important;
}

.icon-label {
  display: inline-block;
  vertical-align: top;
  margin-__MSG_@@bidi_start_edge__: 10px;
}

.information-box {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  color: #222;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
}

.message {
  margin-bottom: 24px;
}

.mode-select-button-column {
  text-align: __MSG_@@bidi_end_edge__;
}

.mode-select-button-column button {
  min-width: 72px;
}

.host-list-table {
  width: 100%;
  border-spacing: 0;
}

td {
  vertical-align: middle;
}

.host-online:hover {
  background-color: #f2f2f2;
}

.host-list-rename-icon, .host-list-remove-icon {
  opacity: 0;
}

.section-row:hover .host-list-rename-icon {
  opacity: 0.6;
}

.section-row:hover .host-list-remove-icon {
  opacity: 0.3;
}

.host-list-rename-icon:hover {
  opacity: 1 !important;
}

.host-list-remove-icon:hover {
  opacity: 0.5 !important;
}

.host-list-edit {
  padding: 0 5px;
}

.host-list-main-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.host-offline .host-list-label,
.host-offline .host-list-main-icon {
  opacity: 0.5;
}

button {
  white-space:nowrap;
}

.small-print {
  font-size: 13px;
  color: #AAA;
}

.waiting:before {
  content: url('spinner.gif');
  position: absolute;
  left: 0px;
  top: -3px;
}

.waiting {
  color: rgb(180, 180, 180);
  margin-left: 30px;
}

.waiting-container {
  position: relative;
}

.space-before {
  margin-top: 30px;
}


#access-code-countdown-container {
  height: 50px;
  text-align: center;
}

#access-code-display {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

#access-code-entry-row {
  margin-top: 24px;
}

#ask-pin-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 180px;
  margin-left: -200px;
  border: 1px solid black;
  background-color: #fff;
  padding: 0 20px;
}

#cancel-connect-button, #cancel-share-button {
  float: __MSG_@@bidi_end_edge__;
}

#current-email {
  color: rgba(0, 0, 0, 0.5);
}

#daemon-plugin-container {
  width: 0;
  height: 0;
}

#dialog-container {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  display: -webkit-box;
}

#dialog-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.75;
}

#host-plugin-container {
  width: 0;
  height: 0;
}

#nat-box {
  margin-top: 30px;
}

/* The NAT traversal state is independent of the app mode, and both need
 * to be combined to determine the visibility of the butter bar. We use
 * a style for the former and the 'hidden' property for the latter. */
#nat-box.traversal-enabled {
  display: none;
}

#session-mode {
  position: absolute;
  -webkit-box-shadow: 0 0 8px 0 black;
  -webkit-user-select: none;
}

#session-client-plugin {
  display: block;
}

#toggle-scaling {
  margin: 1px 0 0 0;
  padding: 1px;
  min-width: 0;
  line-height: 0;
}

#top-secondary {
  margin-top: 10px
}

* {
  box-sizing: border-box;
}

/*
 * Setting hidden on elements that match some rule overriding 'display' doesn't
 * do what you would expect unless this is made explicit (and !important).
 */
[hidden] {
  display: none !important;
}
