<html>
  <head>
    <title>Index of {{ path }}</title>
  </head>
  <body>
    <h1>Index of {{ path }}</h1>
    <table>
      <tr>
        <th align="left">Name</th>
        <th align="left">Last modified</th>
        <th align="left">Size</th>
      </tr>
      <tr><th colspan="3"><hr></th></tr>
      <tr>
        <td><a href="{{ parent }}">Parent Directory</a></td>
        <td> </td>
        <td> </td>
      </tr>
      {% for item in items %}
      <tr>
        {% if item.isdir %}
        <td><a href="{{ item.link }}">{{ item.name }}</a></td>
        <td> </td>
        <td> </td>
        {% else %}
        <td><a href="{{ item.link }}">{{ item.name }}</a></td>
        <td>{{ item.date }}</td>
        <td>{{ item.size }}</td>
        {% endif %}
      </tr>
      {% endfor %}
      <tr><th colspan="3"><hr></th></tr>
    </table>
  </body>
</html>
