<html>
  <head>
    <title>Upload to gs://{{ bucket|escape }}</title>
  </head>
  <body>
    <h1>Upload to gs://{{ bucket|escape }}</h1>
    <form action="https://commondatastorage.googleapis.com/{{ bucket|escape }}"
        method="post" enctype="multipart/form-data">
      Path: <input type="text" name="key" value="" /><br/>
      MIME Type: <select name="content-type">
      <option value="binary/octet-stream">binary/octet-stream</option>
      <option value="application/octet-stream">application/octet-stream</option>
      <option value="text/plain">text/plain</option>
      <option value="text/html">text/html</option>
      <option value="image/gif">image/gif</option>
      <option value="image/jpeg">image/jpeg</option>
      <option value="image/png">image/png</option>
      </select><br/>
      <input name="success_action_redirect" type="hidden"
          value="http://gsdview.appspot.com/{{ bucket|escape }}/"/>
      <input name="file" type="file"/><br/>
      <input name="submit" value="Upload" type="submit" />
    </form>
  </body>
</html>
