{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.tmpl.js"></script>
{% endblock %}

{% block title %}List - {% endblock %}

{% block content %}
{% verbatim %}
<script id="builders_template" type="text/x-jquery-tmpl">
<div>
  Last server update: ${timeAgo(timestamp)}
</div>
<table>
<tr>
  <th>waterfall</th>
  <th>builder</th>
  <th>state</th>
  <th>slave</th>
  <th>timestamp</th>
</tr>
{{each builders}}
<tr>
  <td>${$value.project}</td>
  <td>${$value.name}</td>
  <td>${$value.state}</td>
  <td>${$value.slave}</td>
  <td>${timeAgo($value.timestamp)}</td>
</tr>
{{/each}}
</table>
</script>
{% endverbatim %}
<script type="text/javascript">
  var payload = {}

  function timeAgo(timestamp) {
    milliseconds = new Date() - new Date(timestamp + "UTC");
    minutes = Math.floor(milliseconds / 1000 / 60);
    if (minutes == 0) {
      return "< 1 minute";
    } else if (minutes == 1) {
      return "1 minute";
    } else {
      return minutes + " minutes";
    }
  }

  $(document).ready(function() {
    channel = new goog.appengine.Channel('{{ channel }}');
    socket = channel.open();
    socket.onmessage = function(msg) {
      $.get("/json/get_current_state", function(data) {
        new_payload = data;
        if (jQuery.isEmptyObject(payload)) {
          payload = new_payload;
          window.setInterval(function() {
            $('#builders').html($('#builders_template').tmpl(payload));
          }, 1000);
        } else if (new Date(new_payload['timestamp']) > new Date(payload['timestamp'])) {
          payload = new_payload;
        }
      }).error(function() { location.reload(); });
    }
    socket.onerror = function() { location.reload(); }
    socket.onclose = function() { location.reload(); }
  });
</script>
<div id="builders">
</div>
{% endblock %}
