<html>
  <head>
    <title>command_wrapper.py log</title>
    <style>
      table {
        font:normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana,
        Arial, Helvetica, sans-serif;
        border-collapse:separate;
        border-spacing:0;
        margin:0 0 1em;
        color:#000;
      }
      th {
        font-weight:bold;
        line-height:normal;
        padding:0.25em 0.5em;
        text-align:left;
      }
      td {
        padding:0.25em 0.5em;
        text-align:left;
        vertical-align:top;
        border-style: solid;
        border-width: 1px;
      }
    </style>
  </head>
  <body>
    <h1>command_wrapper.py log</h1>
    <table>
      <tr>
        <th align="left">row</th>
        <th align="left">command_id</th>
        <th align="left">remote_addr</th>
        <th align="left">attempt</th>
        <th align="left">retries</th>
        <th align="left">command</th>
        <th align="left">returncode</th>
        <th align="left">runtime</th>
        <th align="left">timestamp</th>
        <th align="left">stdout</th>
        <th align="left">stderr</th>
        <th align="left">cwd</th>
        <th align="left">uname_sysname</th>
        <th align="left">uname_nodename</th>
        <th align="left">uname_release</th>
        <th align="left">uname_version</th>
        <th align="left">uname_machine</th>
        <th align="left">uname_processor</th>
        <th align="left">response</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.command_id|escape }}</td>
        <td>{{ item.remote_addr|escape }}</td>
        <td>{{ item.attempt|escape }}</td>
        <td>{{ item.retries|escape }}</td>
        <td>{{ item.command|escape }}</td>
        <td>{{ item.returncode|escape }}</td>
        <td>{{ item.runtime|escape }}</td>
        <td>{{ item.timestamp|escape }}</td>
        <td>
<pre>
{{ item.stdout|escape }}
</pre>
        </td>
        <td>
<pre>
{{ item.stderr|escape }}
</pre>
        </td>
        <td>{{ item.cwd|escape }}</td>
        <td>{{ item.uname_sysname|escape }}</td>
        <td>{{ item.uname_nodename|escape }}</td>
        <td>{{ item.uname_release|escape }}</td>
        <td>{{ item.uname_version|escape }}</td>
        <td>{{ item.uname_machine|escape }}</td>
        <td>{{ item.uname_processor|escape }}</td>
        <td>{{ item.response|escape }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
