/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.app {
  outline: none;
  position: absolute;
  text-align: center;
}

.app-contents {
  -webkit-transition: -webkit-transform 100ms;
}

.app-contents:active:not(.suppress-active),
.app:not(.click-focus):focus .app-contents:not(.suppress-active),
.drag-representation:not(.placing) .app-contents {
  -webkit-transform: scale(1.1);
}

/* Don't animate the initial scaling.  */
.app-contents:active:not(.suppress-active),
/* Active gets applied right before .suppress-active, so to avoid flicker
 * we need to make the scale go back to normal without an animation. */
.app-contents.suppress-active {
  -webkit-transition-duration: 0;
}

.app-contents > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-img-container {
  /* -webkit-mask-image set by JavaScript to the image source. */
  -webkit-mask-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

.app-img-container > * {
  height: 100%;
  width: 100%;
}

.app-icon-div {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}

.app-icon-div .app-img-container {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.app-icon-div .color-stripe {
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  bottom: 0;
  height: 3px;
  opacity: 1.0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.app-context-menu > button:first-child {
  font-weight: bold;
}

.app-context-menu {
  z-index: 1000;
}

.launch-click-target {
  cursor: pointer;
}

/* Notifications */

.app-notification {
  -webkit-transition: color 150ms linear;
  color: #999;
  display: block;
  font-size: 0.9em;
  white-space: nowrap;
}

.app-notification:hover {
  text-decoration: underline;
}

/* Promo */
/* Show the promo if the webstore has a promo and is the only app on the page.
 */
.tile:only-of-type > .has-promo > .app-contents > span {
  display: none;
}

.tile:only-of-type > .has-promo .app-img-container > .apps-promo-logo {
  display: block;
}

.apps-promo-logo {
  display: none;
  height: 128px;
  width: 128px;
}

.tile:only-of-type > .has-promo .app-img-container > img:first-child {
  display: none;
}

.app-img-container > img:first-child {
  display: block;
}

/* TODO(estade): animation? */
.tile:only-of-type > .has-promo > .apps-promo-extras {
  display: block;
}

.apps-promo-extras {
  display: none;
  /* 128 * 5/4 */
  left: 160px;
  position: absolute;
  text-align: left;
  top: 0;
}

html[dir='rtl'] .apps-promo-extras {
  left: auto;
  right: 160px;
}

.apps-promo-heading {
  -webkit-margin-start: 3px;
  font-weight: bold;
  margin-bottom: 5px;
}

.g-button-basic {
  -webkit-border-image: url('images/app_promo_button.png') 6 10 12 6;
  border-width: 6px 10px 12px 6px;
  color: #fff !important;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.app .invisible {
  visibility: hidden;
}

/* Move the notification lower on apps pages to account for the 16px of
 * transparency each app icon should have. */
.apps-page #notification-container {
  bottom: 15px;
}

/* App install hint */

.app-install-hint {
  -webkit-transition: opacity 150ms;
  color: inherit;
  display: block;
  opacity: 0.8;
  position: absolute;
  text-decoration: none;
}

.app-install-hint:active {
  opacity: 1.0;
}

.app-install-hint-interior {
  border: 2px dashed;
  border-radius: 20%;
  box-sizing: border-box;
  height: 60%;
  left: 20%;
  position: absolute;
  right: 20%;
  top: 10%;
  width: 60%;
}

.app-install-hint-interior > .interior-background {
  border-radius: 20%;
  bottom: 3px;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.app-install-hint-interior > .vertical-bar,
.app-install-hint-interior > .horizontal-bar {
  border-radius: 2px;
  position: absolute;
}

.app-install-hint-interior > .vertical-bar {
  height: 50%;
  left: 44%;
  right: 44%;
  top: 25%;
  width: 12%;
}

.app-install-hint-interior > .horizontal-bar {
  height: 12%;
  left: 25%;
  right: 25%;
  top: 44%;
  width: 50%;
}

html.dragging-mode .app-install-hint {
  opacity: 0;
}

.app-install-hint > span {
  font-size: 1.2em;
  left: 0;
  position: absolute;
  right: 0;
  top: 80%;
  white-space: nowrap;
}

/* Only display on the first apps page, and only if it has less than 18
 * apps (the latter part is handled in javascript). */
.apps-page:not(:last-of-type) .app-install-hint {
  display: none;
}
