/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.footer-menu-button {
  -webkit-appearance: none;
  -webkit-padding-end: 15px;
  -webkit-padding-start: 9px;
  -webkit-transition: opacity 200ms;
  -webkit-transition-delay: 100ms;
  background: none;
  border: 0;
  color: #7F7F7F;
  cursor: pointer;
  display: block;
  font: inherit;
  height: 100%;
  margin: 0;
  /* The padding increases the clickable area. */
  padding-bottom: 0;
  padding-top: 0;
}

.footer-menu-button:hover:not([menu-shown]) {
  color: #666;
}

.footer-menu-button:hover:not([menu-shown]) .disclosure-triangle {
  background-color: #666;
}

.footer-menu-button[menu-shown] {
  color: #555;
}

.footer-menu-button[menu-shown] .disclosure-triangle {
  background-color: #555;
}

.footer-menu {
  max-height: 400px;
  overflow: auto;
  padding: 6px 8px;
  /* Needs to be above #footer. */
  z-index: 10;
}

/* TODO(dubroy): Unify this with tile page scrollbar. */
.footer-menu::-webkit-scrollbar-button {
  display: none;
}

.footer-menu::-webkit-scrollbar {
  width: 8px;
}

.footer-menu::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border: 2px solid white;
}

.footer-menu-item {
  -webkit-margin-end: 8px;
  -webkit-margin-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-start: 22px;
  background: no-repeat 0 50%;
  background-color: transparent !important;
  background-size: 16px 16px;
  box-sizing: border-box;
  display: block;
  font-size: 1.2em;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer-menu-item:not(:hover) {
  text-decoration: none;
}

.footer-menu-item:first-of-type {
  margin-top: 4px;
}

.footer-menu-item:last-of-type {
  margin-bottom: 4px;
}

.footer-menu section h3 {
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

html[dir='rtl'] .footer-menu-item {
  background: no-repeat 100% 50%;
}

.recent-window {
  background-image: url('images/closed_window.png');
}

/* TODO(estade): find a better color for active. */
.footer-menu-item:active,
.footer-menu-item:visited,
.footer-menu-item:link {
  color: hsl(213, 90%, 24%) !important;
}

.disclosure-triangle {
  -webkit-margin-start: 2px;
  -webkit-mask-image: url('images/disclosure_triangle_mask.png');
  background-color: #7F7F7F;
  display: inline-block;
  height: 9px;
  width: 9px;
}
