/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-attachment: fixed;
  background-color: $2;  /* COLOR_NTP_BACKGROUND */
  background-image: url(chrome://theme/IDR_THEME_NTP_BACKGROUND?$1);
  background-position: $3;
  background-repeat: $5;
}

html[bookmarkbarattached='true'] {
  background-position: $4;
}

body {
  color: $8;  /* COLOR_NTP_TEXT */
  height: 100%;
  overflow: auto;
}

#attribution,
.link-button,
.link-span {
  color: $21;  /* COLOR_NTP_TEXT_LIGHT */
}

.link-button:active {
  color: $8;  /* COLOR_NTP_TEXT */
}

.page-switcher {
  color: rgba($23, 0.5);  /* COLOR_NTP_TEXT */
}

.page-switcher:hover,
.page-switcher:focus,
.page-switcher.drag-target {
  background-color: rgba($23, 0.06);  /* COLOR_NTP_TEXT */
}

/* Only change the background to a gradient when a promo is showing. */
.showing-login-area #page-switcher-end:hover,
.showing-login-area #page-switcher-end:focus,
.showing-login-area #page-switcher-end.drag-target {
  background:
      -webkit-linear-gradient(top, rgba($23, 0) 0,
                                   rgba($23, .01) 60px,
                                   rgba($23, .06) 183px);  /* COLOR_NTP_TEXT */
}

.tile-page-scrollbar {
  background-color: $21;  /* COLOR_NTP_TEXT_LIGHT */
}

/* Footer *********************************************************************/

#footer-border {
  background: -webkit-linear-gradient(left,
      rgba($22, 0.2),  /* COLOR_NTP_SECTION_BORDER */
      rgba($22, 0.3) 20%,  /* COLOR_NTP_SECTION_BORDER */
      rgba($22, 0.3) 80%,  /* COLOR_NTP_SECTION_BORDER */
      rgba($22, 0.2));  /* COLOR_NTP_SECTION_BORDER */
}

.dot input:focus {
  background-color: $2;  /* COLOR_NTP_BACKGROUND */
}

/* Most Visited ***************************************************************/

.most-visited,
.most-visited > .title {
  color: $8;  /* COLOR_NTP_TEXT */
}

.most-visited:focus:not(.filler) .thumbnail-wrapper,
.most-visited:hover:not(.filler) .thumbnail-wrapper {
  background-color: $6;  /* COLOR_NTP_HEADER */
}

.thumbnail-wrapper {
  /* This shows through at the (rounded) thumbnail's corners. */
  background-color: $11;  /* COLOR_NTP_SECTION_BORDER */
}

.filler .thumbnail {
  border-color: $2;  /* COLOR_NTP_BACKGROUND */
}

/* App install hint ***********************************************************/

.app-install-hint:hover .app-install-hint-interior > .interior-background,
.app-install-hint:active .app-install-hint-interior > .interior-background {
  background-color: rgba($23, 0.2);  /* COLOR_NTP_SECTION_BORDER */
}

.app-install-hint-interior > .vertical-bar,
.app-install-hint-interior > .horizontal-bar {
  background-color: $21;  /* COLOR_NTP_TEXT_LIGHT */
}

.app-install-hint-interior {
  border-color: $21;  /* COLOR_NTP_TEXT_LIGHT */
}
