{% extends "base.html" %}

{% block title %}Crashiness report - {% endblock %}

{% block content %}
<a href="/crashiness_report?cursor={{ cursor|urlencode }}">next page</a>
<table class="gtest-details">
<tr>
  <th>timestamp</th>
  <th>prefix</th>
  <th>fullname</th>
  <th>builder</th>
  <th>log</th>
</tr>
{% for result in gtest_results %}
<tr>
  <td>{{ result.time_finished }}</td>
  <td>{{ result.test_prefix }}</td>
  <td><a href="/gtest_query?gtest_query={{ result.fullname|urlencode }}">{{ result.fullname }}</a></td>
  <td>{{ result.parent.builder }}</td>
  <td class="gtest-log">
    <pre>{{ result.log }}</pre>
    <a href="/viewlog/raw/{{ result.parent.log_stdio.key|urlencode }}">full log</a>
  </td>
</tr>
{% endfor %}
</table>
<a href="/crashiness_report?cursor={{ cursor|urlencode }}">next page</a>
{% endblock %}
