{% extends "base.html" %}

{% block title %}GTest gtest_query - {% endblock %}

{% block content %}
<form action="/gtest_query" method="get">
<input type="text" name="gtest_query" value="{{ gtest_query }}" />
<input type="submit" value="search" />
</form>

<i>Showing test failures in reverse-chronological order.</i>
<a href="/gtest_query?gtest_query={{ gtest_query|urlencode }}&amp;cursor={{ cursor|urlencode }}">next page</a>
<table class="gtest-details">
<tr>
  <th>timestamp</th>
  <th>prefix</th>
  <th>builder</th>
  <th>build</th>
  <th>log</th>
</tr>
{% for result in gtest_results %}
<tr>
  <td>{{ result.time_finished }}</td>
  <td>{{ result.test_prefix }}</td>
  <td>{{ result.parent.builder }}</td>
  <td>{{ result.parent.build_number }}</td>
  <td class="gtest-log">
    <pre>{{ result.log }}</pre>
    <a href="/viewlog/raw/{{ result.parent.log_stdio.key|urlencode }}">full log</a>
  </td>
</tr>
{% endfor %}
</table>
<a href="/gtest_query?gtest_query={{ gtest_query|urlencode }}&amp;cursor={{ cursor|urlencode }}">next page</a>
{% endblock %}
