
td.ConsoleProject {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #CCCCCC;
}

td.ConsoleCategory {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #CCCCCC;
}


.ConsoleBuilderStatus {
  text-align:center;
  height:10px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.ConsoleBuilderStatus a {
  opacity: 0.85;
  border-width:1px;
  border-style:solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

td.ConsoleProjectFirst {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

td.ConsoleProjectLast {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

td.ConsoleSubTD {
 padding: 0px 0px 0px 0px;
}

table.ConsoleSubtable {
  border-spacing: 1px 0px;
}

td.ConsoleRevisionRevision {
  padding: 4px 8px 4px 8px;
  color: #333333;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  background-color: #eee;
  width: 1%;
}

td.ConsoleRevisionName {
  padding: 4px 8px 4px 8px;
  color: #333333;
  background-color: #eee;
  width: 1%;
  text-align: left;
}


.offline {
  color: #FFFFFF;
  background-color: #e0b0ff;
  border-color: #ACA0B3;
}

td.ConsoleBuilderStatusCategory {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #CCCCCC;
}



.ConsoleRevisionStatus {
  text-align:center;
  height:20px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.ConsoleRevisionStatus a {
  opacity: 0.85;
  border-width:1px;
  border-style:solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display:block;
  width:90%;
  height:20px;
  line-height:20px;
  margin-left: auto;
  margin-right: auto;
}

td.ConsoleRevisionCategory {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}


tr.commit {
 display :none;
}