/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#change-home-page-section {
  margin-left: 30px;
  overflow-y: hidden;
}

#home-page-url {
  display: inline-block;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#default-browser-state {
  margin-top: 6px;
}

#sync-overview p {
  display: inline;
}

#account-picture-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 0 2px 10px 0;
  padding: 3px;
  position: relative;
}

html[dir=rtl] #account-picture-wrapper {
  float: right;
}

#account-picture {
  height: 72px;
  vertical-align: middle;
  width: 72px;
}

#change-picture-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  font-size: small;
  margin: 3px 0;
  position: absolute;
  text-align: center;
  /* Width of #account-picture. */
  width: 72px;
}

#account-picture-wrapper:not(:hover) #change-picture-caption {
  visibility: hidden;
}

#sync-general {
  -webkit-margin-start: 100px;
  margin-bottom: 10px;
}

#sync-buttons {
  clear: both;
}

#profiles-list {
  margin-bottom: 10px;
  min-height: 0;
}

#profiles-list > * {
  height: 40px;
}

.profile-img {
  height: 31px;
  padding: 3px;
  vertical-align: middle;
  width: 38px;
}

.profile-item-current {
  font-weight: bold;
}

#profiles-buttons {
  white-space: nowrap;
}

.sync-error {
  background: rgb(255, 219, 219);
  border: 1px solid rgb(206, 76, 76);
  border-radius: 2px;
  padding: 10px;
}

.sync-error .link-button {
  margin: 0 1ex;
  padding: 0;
}

#enable-auto-login-checkbox {
  margin-top: 10px;
}

#mac-passwords-warning {
  margin-top: 10px;
}

input[type='range'] {
  vertical-align: middle;
}

/* Internet settings */

#network-settings {
  position: relative;
}

#network-list {
  min-height: 0;
  width: 320px;
}

.network-group {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  height: 42px;
  vertical-align: baseline;
}

list:not([disabled]) > .network-group:hover,
list:not([disabled]) > .network-group[selected] {
  background-color: #f8f8f8 !important;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8),
                                            rgba(255, 255, 255, 0)) !important;
  box-shadow: inset 0 0 1px 1px #f0f0f0;
}

.network-group-labels {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding-top: 3px;
}

.network-icon {
  background-position: left top;
  display: -webkit-box;
  height: 23px;
  margin-right: 8px;
  width: 23px;
}

@-webkit-keyframes connecting-animation {
  0% {
    background-position: 0 25%;
  }
  12.5% {
    background-position: 0 50%;
  }
  25%  {
    background-position: 0 75%;
  }
  37.5%  {
    background-position: 0 100%;
  }
  50%  {
    background-position: 0 100%;
  }
  62.5%  {
    background-position: 0 75%;
  }
  75%  {
    background-position: 0 50%;
  }
  87.5%  {
    background-position: 0 25%;
  }
}

.network-wifi {
  background-image: url('chrome://theme/IDR_STATUSBAR_NETWORK_ARCS');
}

.network-cellular {
  background-image: url('chrome://theme/IDR_STATUSBAR_NETWORK_BARS');
}

.network-add-connection,
.network-control-active,
.network-control-inactive {
  background-position: center center !important;
  background-repeat: no-repeat;
}

/* TODO(kevers): Update following URLs once resources are available */

.network-add-connection {
  background-image: url('chrome://theme/IDR_SIDETABS_NEW_TAB');
}

.network-control-inactive {
  background-image: none;
}

.network-control-active {
  background-image: url('chrome://theme/IDR_PROFILE_SELECTED');
}

.network-options-button {
  -webkit-box-flex: 0;
  -webkit-transform: scale(0.6);
  background-image: url('chrome://theme/IDR_INFOBAR_QUESTION_MARK');
  background-position: center center;
  display: block;
  vertical-align: middle;
  width: 19px;
}

.network-menu-item > .controlled-setting-indicator {
  -webkit-box-flex: 0;
  -webkit-margin-end: 5px;
  display: block;
  height: 16px;
  margin-top: 9px;
  width: 16px;
}

.network-options-button:hover {
  /* TODO(kevers): Update once proper assets received for the options
     button. */
  border: 2px solid #333;
  border-radius: 10px;
}

.network-connecting {
  -webkit-animation: connecting-animation 1s step-end infinite;
}

.network-title {
  font-weight: 600;
  line-height: 120%;
}

.network-subtitle {
  color: #333;
  display: inline-block;
  line-height: 100%;
  max-width: 260px;
  opacity: 0.4;
  overflow: hidden;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.network-selector {
  background: right center no-repeat;
  background-image: url('../shared/images/select.png');
  padding-right: 20px;
}

.network-menu {
  -webkit-box-shadow:
      0 0 0 1px rgba(0,0,0,0.1),
      0 5px 1px 1px rgba(0,0,0,0.1),
      0 5px 2px 1px rgba(0,0,0,0.1),
      0 5px 12px 1px rgba(0,0,0,0.5);
  background: #fff;
  display: block;
  position: absolute;
  width: 320px;
  z-index: 1;
}

.network-menu-item {
  -webkit-padding-start: 32px;
  background: left center no-repeat;
  display: -webkit-box;
  height: 32px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

.network-menu-item-label {
  -webkit-box-flex: 1;
  color: #555;
  display: block;
  overflow-x: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.network-menu-header {
  -webkit-padding-start: 36px;
  color: #999;
  padding-bottom: 8px;
  padding-top: 8px;
}

/* Restrict the size of the networks menu, by limiting the number of
   visible networks. */
.network-menu-group {
    max-height: 192px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.network-menu-item[dir=rtl] {
  background: right center no-repeat;
}

.network-menu-item:hover {
  background-color: #eee;
}

.network-menu > hr {
  opacity: 0.4;
}

#web-content-section select,
.web-content-select-label {
  min-width: 145px;
}

.web-content-select-label > span:only-of-type {
  display: inline-block;
  min-width: 100px;
}

#timezone-value {
  display: inline-block;
  vertical-align: baseline;
}

#privacy-explanation {
  line-height: 1.8em;
}

#privacy-explanation span:first-child {
  display: block;
}

#advanced-settings {
  height: 0;
  margin-top: 8px;
  overflow: hidden;
}

.sliding {
  -webkit-transition: height 200ms;
}

#sessionRestoreOverlay {
  width: 500px;
}
