<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <title>{% block title %}{% endblock %}Chromium Build Master</title>
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
