<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet"/>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <center>
      <table width="100%%">
        <tr>
          <td align="left">
            <a href="/">
              <img border="0" height="75" src="/logo.png">
            </a>
          </td>
          <td valign="top" align="right">
            <b> {{ username }} </b>
            <br />{{current_UTC_time|date:"D M d, H:i T " }}
          </td>
        </tr>
      </table>
    </center>
    {% block content %}{% endblock %}
  </body>
</html>
