{% extends "base.html" %}

{% block extra_head %}
    <link href="/stylesheets/cq.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h1>Sorted by last month usage</h1>
<table class="issue">
  <thead>
    <tr>
      <th>User</th>
      <th>Last day</th>
      <th>Last week</th>
      <th>Last month</th>
      <th>Ever</th>
    </tr>
  </thead>
  <tbody>
    {% for owner in data %}
    <tr>
      <td><a href="/cq/{{ owner.0|urlencode }}" class="owner">{{ owner.0 }}</a></td>
      <td>{{ owner.1.last_day|safe }}</td>
      <td>{{ owner.1.last_week|safe }}</td>
      <td>{{ owner.1.last_month }}</td>
      <td>{{ owner.1.forever }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
