{% extends "base.html" %}

{% block extra_head %}
    <link href="/stylesheets/cq.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {% for item in data %}
    <table class="issue" id="pc{{ item.0.issue }}">
      <caption><a href="http://codereview.chromium.org/{{ item.0.issue }}"
          id="issue_link{{ item.0.issue }}" class="issue">
        Issue {{ item.0.issue }}</a> patchset {{ item.0.patchset }}</caption>
      <thead>
        <tr bgcolor="#CCCCFF">
          <th class="timestamp">Timestamp</th>
          <th class="type">Type</th>
          <th class="message">Message</th>
        </tr>
      </thead>
      <tbody class="issue">
        {% for event in item.1 %}
          <tr>
            <td class="timestamp">{{ event.timestamp|date:"D M d, H:i T " }}</td>
            <td class="type">{{ event.name }}</td>
            {% autoescape off %}
            <td class="message">{{ event.as_html }}</td>
            {% endautoescape %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
