<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html
 xmlns="http://www.w3.org/1999/xhtml"
 lang="en"
 xml:lang="en">
<head>
  <title>BuildBot: Chromium</title>
  <link href="/static/buildbot.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<table>
{% for buildstep in buildsteps %}
  {% if buildstep.is_started %}
  <tr>
    <td align="center" class="BuildStep {{buildstep.cssClass}}">
      {{ buildstep.text }}</td>
  </tr>
  {% endif %}
{% endfor %}
<tr>
<td align="center" class="BuildStep start">{{ build.buildername }}<br>
Build {{ build.number }}</td>
</tr>
</table>

</body>
</html>
