{% extends "treestatus.html" %}

{% block treestatus %}

{# DISPLAY main_header #}
<br>
<div align="center">
<table width="96%">

{# DISPLAY main_line_category_header #}
<tr><td width="1%"></td>
<td width="1%"></td>

{# DISPLAY categories #}
{% for category in categories %}
<td class="DevStatus {{category.alt}} {{category.first}} {{category.last}}"
    width="{{category.size}}%">{{category.name}}</td>
    {# main_line_category_name #}
{% endfor %}

{# DISPLAY main_line_slave_header #}
<tr><td width="1%"></td>
<td width="1%"></td>
<td class='DevSlave Alt'><table width="100%"><tr>

{% for category in categories %}
  {% ifnotequal category.first 'first' %}
    </tr></table></td>
    <td class="DevSlave Alt"><table width="100%"><tr>
  {% endifnotequal %}

  {% for builder in category.builders %}
    <td class="DevSlaveBox">
      <a href="{%get_head_build_attr headBuilds builder 'url'%}"
          title="{{builder.title}}"
          class="DevSlaveBox {%get_head_build_attr headBuilds builder 'color'%}"
          target=_blank></a></td>
  {% endfor %}
{% endfor %}

{# DISPLAY main_line_category_footer #}
</tr>
<tr class="DevStatusSpacing"></tr>

{# DISPLAY main_line_slave_footer #}
</tr></table></td></tr>

{% for change in changes %}

  {# DISPLAY main_line_info #}
  <tr class="{% cycle '' 'Alt' %}"><td class="DevRev" width="1%">
  <a href="{{change.revlink}}">{{change.revision}}</a>
  </td>
  <td class="DevName" width="1%">{{change.who}}</td>

  {# DISPLAY main_line_status_header #}
  <td class="DevStatus {{change.last}}">
    <table width="100%"><tr><script>

  {% for category in categories %}
    {% ifnotequal category.first 'first' %}
      {# DISPLAY main_line_status_section #}
      </script>
      </tr></table></td>
      <td class="DevStatus {{last}}"><table width="100%">
      <tr>
      <script>
    {% endifnotequal %}

    {% for builderName in category.builders %}
      {# DISPLAY main_line_status_box #}
      addBox("{%get_build_attr change revisions builderName 'url'%}",
          "{%get_build_attr change revisions builderName 'title'%}",
          "{%get_build_attr change revisions builderName 'color'%}",
          "{%get_build_attr change revisions builderName 'tag'%}");
    {% endfor %}
  {% endfor %}

    </script></tr></table>
  </td></tr>
{% endfor %}

{# DISPLAY main_footer #}
</table>
</div>

<hr/>

<div class="footer">
  [ <a class='collapse' href="#" OnClick="collapse();return false;">collapse</a>
   <a class='expand' href="#" style='display: none'
       OnClick="expand();return false;">expand</a> ] -
  [ <a class='merge' href="#" OnClick="merge();return false;">merge</a>
   <a class='unmerge' style='display: none' href="#"
       OnClick="unmerge();return false;">un-merge</a> ]
</div>

<div id="divBox" OnMouseOut="if (checkMouseLeave(this, event)) this.style.display = 'None'" class="BuildWaterfall">
</div>
<iframe id="frameBox" style="display: none;" onload="updateDiv(event);"></iframe>

{% endblock %}
