{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
//<![CDATA[
  function confirmSubmit() {
    return confirm('Are you sure you want to update site settings?');
  }
//]]>
</script>

<h2>Update Settings</h2>

{%if message%}
  <div style="background-color: green; color: white;">{{message}}</div>
{%endif%}

{%if errors%}
  <div style="background-color: red; color: white;">
    {%for error in errors%}
      {%if not forloop.first%}<br>{%endif%}
      {{error}}
    {%endfor%}
  </div>
{%endif%}

<form method="post" action="/manage" onsubmit="return confirmSubmit();">
  <table>
    <tr valign="top"><td style="text-align: right">Allowed hosts</td><td style="text-align: left">
      <textarea rows="5" cols="50" name="allowedhosts">{{ config.allowedhostsjson }}</textarea>
      </td></tr>
    <tr valign="top"><td style="text-align: right">Default project</td><td style="text-align: left">
      <input type="text" name="defaultproject" value="{{ config.defaultproject }}"></td></tr>
    <tr valign="top"><td style="text-align: right">Submit password</td><td style="text-align: left">
      <input type="password" name="submitpassword"></td></tr>
    <tr valign="top"><td style="text-align: right">Submit password (again)</td><td style="text-align: left">
      <input type="password" name="submitpassword2"></td></tr>
    <tr><td></td><td style="text-align: left">
      <input type="submit" value="Save changes"> or
      <a href="{{console_url}}">cancel</a></td></tr>
  </table>
</form>

{% endblock %}
