/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#wallpaper-grid {
  width: 470px;
}

#wallpaper-grid img {
  height: 80px;
  width: 128px;
}
